body {
    margin: 0;
}

.signUp {
    background: linear-gradient(to right,rgb(17, 91, 126) 50%,transparent 100%);      /* W3C */
    font-size: 54px;
    padding-bottom: 10px;
    color: white;
}

form {
    padding: 10px;
}

.form-group label {
    font-size: 24px;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    
}

.form-group input {
    padding: 10px;
    font-size: 20px;
    margin-left: 12px;
}
textarea {
    width: 350px;
    margin-left: 12px;
    font-size: 16px;

}



button {
    width: 140px;
    margin-left: 120px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid rgb(17, 91, 126);
    transition: all 0.3s;
}

button:hover {
    background-color: rgb(17, 91, 126);
    color: white;
}

.error-hint {
    margin-top: 5px;
    margin-left: 12px;
    color: red;
}

input.invalid {
    border: 1px solid red;
}

.hidden {
    display: none;
}

.thankYou {
    margin: 40px;
    font-size: 40px;
    color: rgb(17, 91, 126);
}